/* always import things at the top and throw in font family info too */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: "Kaushan Script", cursive; */

/* GLOBAL STYLES */
/* universal selector getting rid of margin and padding */
* {
    margin: 0 auto;
    padding: 0;
}

html {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: "Kaushan Script", cursive;
}
/* NAVIGATION */
header {
    width: 80%;
    padding: 0 10%;
    /* first value top & bottom, second value left & right */
    height: 50px;
    overflow: hidden;
    position: fixed;
    /* like position absolute */
    top: 0;
    left: 0;
    z-index: 100;
    /* pull to front */
    background-color: grey;
    /* flexbox container properties */
    display: flex;
    flex-direction: row;
    /* flex direction default: row */
    justify-content: space-between;
    /* even amount of space btw each item */
    align-items: center;
    /* justify-content & align items is the best combo for centering */
    background: url('../img/beanstalk-.png');
    /* insert subtle pattern here */
}

header h1 {
    color: #ccc;
}

nav ul {
    display: flex;
    /* stacking next to eachother now */
    list-style-type: none;
    text-align: center;
    background-color: rgba(40,40,40,0.1);
}

nav li {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 120px;
}

nav a {
    text-decoration: none;
    /* no underline for link */
    color: #aaa;
    display: block;
    /* text displays inline by default */
    transition: all 1s;
    /* transitions are always defined at the starting or loading state style */
}

nav a:hover {
    background-color: rgba(40,40,40,0.5);
    color: #FFF;
}

nav a.active {
    background-color: black;
    color: white;
}


/* DEFAUT GALLEY STYLES */
.container {
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    /* overrive first margin setting, order */
    font-size: 0;
    /* will need to redefine later when you want fonts to show up */
}

.polaroid {
    width: 260px;
    /* 20 px on each side, subtracted from 300px width for 3 grid image */
    margin: 20px;
    display: inline-block;
    position: relative;
    /* position inside relatively positioned parent div */
    /* if you absolute position something and it disappears, you have to 
    relatively position the parent */

}

/* styling for all images inside polaroid class */
.polaroid img {
    width: 100%;
    /* 100% of parent div */
    height: auto;
    border: 10px solid #ccc;
    /* width, style and color */
    border-bottom-width: 45px;
    /* for polaroid style */
}

/* all p tags inside polaroid */
.polaroid p {
    position: absolute;
    /* when smt needs to be positioned absolute, thats the only time you need 
    to position a parent container relatively */
    bottom: 14px;
    font-size: 1rem;
    width: 280px;
    /* width of image including border */
    text-align: center;
    color: #444;
}

/* TRANSFORMS AND TRANSITIONS */

.scaleUp {
    transform: scale(1.2);
    z-index: 10;
}

.scaleX {
    transform: scale(2, 1);
}

.scaleY {
    transform: scale(1, 2);
}

.skewX {
    transform: skewX(-20deg);
}

.skewY {
    transform: skewY(-20deg);
}

.skewBoth {
    transform: skew(10deg, 30deg);
}

.rotX {
    transform: rotateX(120deg)
}

.rotY {
    transform: rotateY(120deg)
}

.rotZ {
    transform: rotateZ(120deg)
}

.rotateLeft {
    transform: rotate(-20deg);
    transition: all 5s ease-in-out;
}

.rotateLeft:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

.skewHover {
    transform: skewX(30deg);
    transition: all 5s ease;
}

.skewHover:hover {
    transform: skewX(-30deg);
    cursor: pointer;
}

.scaleHover {
    transform: scale(1.5);
    transition: all 10s ease-in;
}

.scaleHover:hover {
    transform: scale(0.5);
}

.colorSwap {
    filter: grayscale(100%) blur(5px);
    transition: all 5s ease-out;
}

.colorSwap:hover {
    filter: grayscale(0) blur(0px);
    cursor: pointer;

}
