/* Global Styles */

* {
    box-sizing: border-box;
    font-family: "Purple Purse", serif;
}

body {
    margin: 0;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

img {
    width: 100%;
    height: auto;
}